<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productos.css">
    <title>Productos</title>
</head>
<body>
    <div class="conteiner">
        <div class="conteinerArriba">
            <div class="producto">
                <h1 class="nombreProducto"><%= productos.productos_nombre %> </h1>
                <p class="descripcion"><%= productos.productos_descripcion %> </p>
            </div>
        </div>
    </div>
</body>
</html>